</div>

.jumbotron
  .container
    %h1 Imagine a world …
    %p … without call sheets. Without burner phones. Without a room full of people who can't hear themselves talking. Without a week between a call placed and the data entered.
    %p That world is here. Now.
    %p
      = link_to "Get started", new_user_registration_path, :class => "btn btn-primary btn-lg"

.container
  .row#front-page
    .col-md-4
      %h2 Create your campaign.
      %p Upload a script and add targets with ease.
    .col-md-4
      %h2 Invite volunteers.
      %p No directions or parking required &mdash; just an e-mail address.
    .col-md-4
      %h2 Get results.
      %p Polling numbers are no longer directly correlated to pizzas ordered.
