%h1 Your Campaigns

#your-campaigns
  - if @campaigns.count >= 1
    %ul#campaigns= render @campaigns
  - else
    %h2 You don't belong to any campaigns.

  =link_to "Create a Campaign", new_campaign_path
