%div.col-xs-6.col-lg-4
  =link_to "Create a Campaign", new_campaign_path

%div.col-xs-12.col-sm-6.col-lg-8#your-campaigns
  .panel.panel-default
    .panel-heading Create a Campaign
    = simple_form_for @campaign do |f|
      = f.input :name
      = f.input :summary, :as => :text
      = f.submit "Create Campaign"
