
%div.footer
  %div.container
    %hr
    %span
      Made with love in Nashville, Tennessee, by
      = succeed "." do
        %a{:href => "http://portfolio.slyeargin.com/"} Samantha Yeargin
    %span.right
      %i.fa.fa-github
        %a{:href => "http://github.com/slyeargin"} Github
        \•
      %i.fa.fa-linkedin-square
        %a{:href => "https://www.linkedin.com/in/samanthay"} LinkedIn
        \•
      %i.fa.fa-twitter
        %a{:href => "http://twitter.com/slyeargin"} Twitter
